<tr>
  <td><%= route.name %></td>
  <td><%= link_to t('common.action.show'), [:admin, route] %></td>
  <td><%= link_to t('common.action.edit'), edit_admin_route_path(route) %></td>
  <td><%= link_to t('common.action.delete'), [:admin, route], method: :delete, data: { confirm: t('common.action.confirm') } %></td>
</tr>