<h1><%= t('.title') %></h1>

<%= render 'form', route: @route, hidden: false, small: false %>

<%= link_to t('common.action.show'), [:admin, @route] %> |
<%= link_to t('common.action.back'), admin_routes_path %>
