<p id="notice"><%= notice %></p>

<h1>Список пользователей</h1>

<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>ФИО</th>
    </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>

<br>

<%= link_to 'Новый пользователь', new_user_path %>
<%= link_to 'Назад', root_path %>
